@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-color: #004c84 #000000 !important;
}
body {
  @apply antialiased;
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hover-scale {
  transition: transform 0.3s ease;
  position: relative;
}

.hover-scale:hover {
  transform: scale(1.02);
}