@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-color: #004c84 #000000 !important;
}
body {
  @apply antialiased;
}
